/**
* Theme Name: Energielinq
* Description: This is a child theme of Fran.
* Author: <a href="https://thewebworks.nl/">Johan van der Wijk</a>
* Template: fran
* Version: 11.3
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	font-family: museo_sans_300, sans-serif;
	font-size: 100%;
	font-style: inherit;
	font-weight: 400;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html h1,
html h2,
html h3 {
	color: #4BAA82;
	font-family: museo_sans_700;
	font-weight: 700;
}

html em,
html i {
	font-family: museo_sans_300_italic;
}

html body {
	background-color: #fff;
	color: #3e3e3e;
}

html .branding {
	background-color: #fff;
}

html .bottom {
	background-color: #fff;
}

html .logo {
	height: 82px;
	width: 140px;
	max-height: 5.125em;
}

html .header {
	background-color: #fff;
}

html .header .hamburger-inner,
html .header .hamburger-inner:after,
html .header .hamburger-inner:before,
html .header .hamburger.is-active .hamburger-inner,
html .header .hamburger.is-active .hamburger-inner:after,
html .header .hamburger.is-active .hamburger-inner:before {
	background-color: #404040;
}

.headroom--not-top {
	box-shadow: 0 1px 3px 0 rgba(62, 62, 62, .1);
}

html .post-navigation a[rel="prev"] {
	background: url('img/arrows.svg') no-repeat;
}

html .post-navigation a[rel="next"] {
	background: url('img/arrows.svg') no-repeat;
	background-position: -70px;
}

html .comment-reply-link:hover,
html .comment-reply-link:focus {
	border-color: #3e3e3e;
	color: #3e3e3e;
}

html .header .nav li a {
	color: #3e3e3e;
	font-family: museo_sans_700;
}

html .site-description {
	color: #3e3e3e;
	font-size: .75em;
	text-transform: uppercase;
}

html .intro h2 {
	color: #3e3e3e;
}

html .searchform input[type=search] {
	font-family: museo_sans_500;
	font-weight: 500;
}

html .searchform:focus-within {
	border-color: #4BAA82;
}

html .searchform:focus-within input[type=submit],
html .main .searchform:focus-within input[type=submit] {
	background: #fff url('img/search-focus.svg') no-repeat 50% 50%;
}

html .main {
	background-color: #f5f5f5;
}

html .content .block {
	box-shadow: 0 5px 20px 0 rgba(30, 32, 90, 0.08);
}

html .content a {
	color: #4BAA82;
	border-color: #4BAA82;
}

html .entry-title {
	color: #4BAA82;
}

html .block .entry-content p,
html .home .one-third .block .entry-content p,
html .archive .one-third .block .entry-content p,
html .search .one-third .block .entry-content p {
	font-size: 16px;
	line-height: 26px;
}

html .breadcrumbs {
	background-color: #f5f5f5;
}

html .main .gform_wrapper .gform_footer input.button,
html .main .gform_wrapper .gform_footer input[type="submit"],
html main .form-submit .submit,
html main form input[type="submit"] {
	background-color: #4BAA82;
	box-shadow: none;
	font-family: museo_sans_700;
	padding: .75em 1.25em
}

html .comments-title,
html .comment-reply-title,
html .copyright a {
	color: #3e3e3e;
}

html .bottom {
	color: #b6b6b6;
}

html .bottom h3 {
	color: #4BAA82;
}

html .bottom a {
	color: #3e3e3e;
}

html .menu-toggle,
.header .nav li a {
	color: #3e3e3e;
}

html b,
html strong {
	font-family: museo_sans_700;
}

.footer-logo {
	display: inline-block;
}

.one-third .block img.footer-logo {
	max-width: 40%;
	vertical-align: top;
	float: right;
}

.attachment-post-thumbnail {
	border-radius: 8px;
	margin: 0 20px 20px 0;
	width: 100%;
	height: auto;
}

.single-expert .attachment-post-thumbnail {
	float: left;
	width: 30%;
}

ul.expert-info {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75em;
	text-transform: uppercase;
	margin-bottom: 0.714em;
	justify-content: flex-end
}

.expert-info li {
	list-style: none;
}

.expert-info li.linkedin a,
.expert-info li.envelope a {
	background-image: url('img/linkedin-icon.svg');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: left center;
	padding-left: 20px;
	margin-left: 20px;
	border: none;
}

.expert-info li.envelope a {
	background-image: url('img/envelope-icon.svg');
}

.related h3 {
	margin-top: .75em;
}

.taxonomies {
	margin-bottom: .75em;
}

.topics,
.audiences,
.experts {
	margin: 0;
	text-transform: uppercase;
	font-size: 0.75em;
}

.experts a:after {
	content: ', ';
}

.experts a:last-child:after {
	content: '';
}

.bottom .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.bottom .col.one-third {
	width: calc(100%/3);
}

.bottom .col.one-third:first-child {
	width: 100%;
	border-bottom: 1px solid #f5f5f5;
}

.bottom .col.one-third:first-child .block {
	margin: .9803921568627451%; /* 10px */
	padding: .9803921568627451%; /* 10px */
	width: 98.03921568627451%; /* 1000px */
}

#menu-themas {
	column-count: 3;
	column-gap: 40px;
	column-gap: 6.25%;
}

.bottom .col.one-third:last-child {
	display: flex;
}

.bottom .col.one-third:last-child .block {
	align-self: flex-end;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.projectbeschrijving {
	width: 49%;
}

.projectdata {
	width: 49%;
}

.projectdata td:first-child {
	white-space: nowrap;
}

.action {
	border: none;
	font-family: museo_sans_700;
	text-transform: uppercase;
	font-size: 14px;
}

.single-project .date.updated {
	display: none;
}

@media screen and (max-width: 780px) {
	.flex {
		display: flex;
		flex-wrap: wrap;
	}

	.projectbeschrijving {
		width: 100%;
	}

	.projectdata {
		width: 100%;
	}
}

@media screen and (max-width: 480px),
screen and (-webkit-device-pixel-ratio: 3) and (device-height: 640px) and (device-width: 360px) {
	#menu-themas {
		column-count: 2;
	}

	.bottom .col.one-third {
		margin: 2.083333333333333%;
		padding: 2.083333333333333%;
		width: 95.83333333333333%;
	}
}

.main .search-form {
	background: #fff;
	border: 1px solid #d8d8d8;
	border-radius: 2px;
	padding: .5em;
	max-width: 260px;
	margin: 0 auto 3em;
	display: flex;
}

@media (max-width: 767px) {
	.main .search-form {
		margin-bottom: 1em
	}
}

.main .search-form label {
	-ms-flex: 1;
	flex: 1
}

.main .search-form label .screen-reader-text {
	display: none
}

.main .search-form label input {
	display: block;
	width: 100%;
	line-height: 1;
	margin-top: .2em
}

.main .search-form button,
.main .search-form input {
	-webkit-appearance: none;
	border: 0;
	background: #fff
}

.main .search-form button,
.main .search-form button:hover {
	padding: 0;
	box-shadow: none;
}

.main .search-form button svg {
	display: block;
	width: 21px;
	height: 21px
}

.main .search-form+.metadata {
	font-size: .9em;
	font-style: italic;
	margin: -2.5em 0 3em
}

.narrow-column {
	width: 25%;
}

.wide-column {
	width: 75%;
}

.facetwp-search,
.facetwp-dropdown {
	padding: 5px;
	border: 1px solid #b6b6b6;
	width: 80%;
}

.facetwp-type-slider {
	width: 80%;
}

.facet-label {
	font-family: museo_sans_700;
	margin-bottom: .714em;
}

input[type=button].facetwp-slider-reset {
	padding: 2px 4px;
}

.reset a {
	color: #3e3e3e;
}

.reset a:hover {
	color: #4BAA82;
	text-decoration: underline;
}

.reset a:active {
	position: relative;
	top: 1px;
}

@media (max-width: 767px) {

	.narrow-column,
	.wide-column {
		margin: 2.083333333333333%;
		padding: 2.083333333333333%;
		width: 95.83333333333333%;
	}

	.post-type-archive-project .facetwp-facet {
		margin-bottom: 15px;
	}

	.facetwp-search,
	.facetwp-dropdown {
		width: 100%;
	}

}

.wide,
.result {
	margin-bottom: 20px;
}

.wide {
	margin: .9803921568627451%;
	padding: .9803921568627451%;
	width: 98.03921568627451%;
	background-color: #fff;
	border: 1px solid #e9eaec;
	box-shadow: 0 5px 20px 0 rgba(30, 32, 90, 0.08);
}

.wide a,
.result a {
	color: #3e3e3e;
}

.wide img,
.result img {
	width: 100%;
	height: auto;
}

.wide h3,
.result h3 {
	margin-top: 0;
}

.result .search-thumbnail {
	width: 25%;
}

.result .search-description {
	width: 73%;
}

.wide .thumbnail {
	width: 30%;
}

.wide .thumbnail a {
	display: block;
}

.wide .description {
	width: 69%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

@media (max-width: 767px) {
	.wide {
		margin: 2.083333333333333%;
		padding: 2.083333333333333%;
		width: 95.83333333333333%;
	}

	.wide .thumbnail {
		width: 100%;
		margin-bottom: 10px;
	}

	.wide .description {
		width: 100%;
	}
}

.wide .description p:last-child {
	margin-bottom: 0;
}

.wide .read-more {
	text-align: right;
	color: #4BAA82;
	margin-top: auto;
}

.uagb-post__link.uagb-text-link {
	border: none !important;
}

.ugb-button:not(.ugb-link-button):not(.ugb-button--design-link) {
	border: none;
}