/**
* Theme Name: Energielinq
* Description: This is a child theme of Fran.
* Author: <a href="https://thewebworks.nl/">Johan van der Wijk</a>
* Template: fran
* Version: 10.5.13
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	font-style: inherit;
	font-weight: 400;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html h1,
html h2,
html h3 {
	color: #06d6a0;
	font-weight: 600;
}
html body {
	background-color: #fff;
	color: #637282;
}
html .branding {
	background-color: #f5f5f5;
}
html .branding .block {
	margin-top: 0;
	margin-bottom: 0;
}
html .bottom {
	background-color: #fff;
}
html .logo {
	height: 82px;
	width: 140px;
	max-height: 5.125em;
}
html .header .nav {
	width: 100%;
}
.headroom--not-top {
	box-shadow: 0 1px 3px 0 rgba(62,62,62,.1);
}

html .post-navigation a[rel="prev"] {
	background: url('img/arrows.svg') no-repeat;
}
html .post-navigation a[rel="next"] {
	background: url('img/arrows.svg') no-repeat;
	background-position: -70px;
}
html .comment-reply-link:hover, html .comment-reply-link:focus {
	border-color: #3e3e3e;
	color: #3e3e3e;
}

@media screen and (min-width: 480px) {
html .header .nav ul {
	display: flex;
	justify-content: space-between;
}
}
html .header .nav li a {
	color: #3e3e3e;
	font-weight: 600;
}
html .site-description {
	color: #637282;
	font-size: .75em;
	text-transform: uppercase;
}
html .intro h2 {
	color: #3e3e3e;
}

html .main {
	background-color: #f5f5f5;
}
html .content .block {
	box-shadow: 0px 5px 20px 0px rgba(30, 32, 90, 0.08);
}
html .content a {
	color: #06d6a0;
	border-color: #06d6a0;
}
html .entry-title {
	color: #06d6a0;
}
html .home .one-third .block .entry-content p, 
html .archive .one-third .block .entry-content p, 
html .search .one-third .block .entry-content p {
	font-size: 1em;
}

html .breadcrumbs {
	background-color: #f5f5f5;
}

html .main .gform_wrapper .gform_footer input.button, 
html .main .gform_wrapper .gform_footer input[type="submit"], 
html .form-submit .submit, form input[type="submit"] {
	background-color: #06d6a0;
	box-shadow: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding: .75em 1.25em
}

html .comments-title,
html .comment-reply-title,
html .copyright a {
	color: #637282;
}

html .bottom {
	color: #b6b6b6;
}
html .bottom h3 {
	color: #06d6a0;
}
html .bottom a {
	color: #637282;
}

html .menu-toggle, .header .nav li a {
	color: #3e3e3e;
}
html b, html strong {
	font-weight: 600;
}
.footer-logo {
	display: inline-block;
}
.one-third .block img.footer-logo {
	max-width: 40%;
	vertical-align: top;
	float: right;
}
.one-third .block img.footer-logo:first-child {
	float: left;
}

.attachment-post-thumbnail {
	float: left;
	border-radius: 5px;
	margin: 0 20px 20px 0;
	width: 30%;
	height: auto;
}

.entry-content ul {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75em;
	text-transform: uppercase;
	margin-bottom: 0.714em;
	justify-content: flex-end
}
.entry-content li {
	list-style: none;
}
.entry-content li.linkedin a,
.entry-content li.envelope a {
	background-image: url( 'img/linkedin-icon.svg' );
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: left center;
	padding-left: 20px;
	margin-left: 20px;
	border: none;
}
.entry-content li.envelope a {
	background-image: url( 'img/envelope-icon.svg' );
}
.related h3 {
	margin-top: .75em;
}
.taxonomies {
	margin-bottom: .75em;
}
.topics,
.audiences {
	margin: 0;
	text-transform: uppercase;
	font-size: 0.75em;
}